<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	
	  <appSettings>
    <add key="server" value="176.9.113.46" />
    <add key="database" value="CollectionSystem-PreRelease" />
      <add key="login" value="dp_collection" />
    <add key="password" value="cs-12345" />
     
  </appSettings>
</configuration>